<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Lead</th>
      <th>Body</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
  {{#each}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{body}}</td>
      <td>{{user}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
