.banner
  %h3.strong.text-center Banner title
  .text-center
    =image_tag 'fork_knife.png'
  .text-justify
    %p
  %form.email-form
    .row.nopadding
      .col-xs-10.nopadding
        %input{type: 'email', placeholder: 'Enter your email...'}
      .col-xs-2.nopadding
        %button
          %i.fa.fa-angle-right.fa-2x
