%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#main-menu'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar


    .collapse.navbar-collapse#main-menu
      %ul.menu-link.nav.navbar-nav
        %li{class: ('active' if current_page?(root_url))}
          =link_to 'Home', root_path
        %li{class: ('active' if current_page?(pages_about_url))}
          =link_to 'About', pages_about_path
        %li{class: ('active' if current_page?(pages_blog_url))}
          =link_to 'Blog', pages_blog_path
        %li{class: ('active' if current_page?(pages_competition_url))}
          =link_to 'Competition', pages_competition_path
        %li{class: ('active' if devise_controller?)}
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Login', new_user_session_path
      %ul.nav.navbar-nav.navbar-right.social-icons
        %li
          %a{href: "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-twitter.fa-stack-1x.fa-inverse
        %li
          %a{href: "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %li
          %a{href: "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-google-plus.fa-stack-1x.fa-inverse
        %li
          %a{href: "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-pinterest.fa-stack-1x.fa-inverse
        %li
          %a{href: "#"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-instagram.fa-stack-1x.fa-inverse
